/* style for entire sheet*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*style for the body*/

body {
    background-color:#fff;
    padding: 30 px 60px;
    box-sizing: border-box;
    max-width: 1700px;
}

/*style for the header/navigation section*/
.header {
    padding: 15px 30px;
    width: 1700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .75);
    z-index: 999;
}

.header a {
    color: #000;
    text-decoration: underline;
}

.header-child h1 {
    color: #000;
    font-size: 60px;
    margin: 0;
    display: inline;
    text-decoration: underline;
}

.header-nav nav ul {
    list-style: none;
}

.header-nav nav ul li {
    display: inline;
}

.header-nav nav ul li a {
    padding: 10px 15px;
}

/*end style for the header/navigation section */

/* styles for the hero/about me section*/

#profile-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: #000;
    min-width: 0;
    min-height: 0;
    max-width: 1700px;
    margin: 20px;
}

.about-me {
    height: 600px;
    width: 1000px;
    background-image: url(./autumn-trees-sun-road-leaves.jpg);
    background-size: cover;
    text-align: center;
    opacity: .85;
    font-size: 20px;
}

.about-me h2 {
    text-decoration: underline;
    font-size: 25px;
}

.profile-img {
   height: 600px;
   width: 505px;
   background-image:url(./Jill-DF.JPG);
   background-size: cover;
   flex-wrap: wrap;
   opacity: .85;
}

/* start styling for portfolio section */

.portfolio-title {
    color:#000;
    width: 1700px;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

#portfolio {
    
}

/* this is the flexbox container*/

.container {
    display: flex;
    justify-content: center;
    flex-shrink: inherit;
}

/* this is the flexbox child */
.run-buddy {
    width: 1400px;
}

.gallery-big {
    width: 100%;
} 
    

.project-info {
    color: #fff;
    background-color: #ccc9e7; 
    width: 240px;
    margin-top: 200px;
    text-align: center;
}


.project-row {
    height: 300px;
    width: 1700px;
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 15px;
    border-style: solid;
    border-color: blue;
}

.placeholder-one {
    height: 300px;
    width: 800px;
    background-image:url(./pexels-andy-vu-3484061.jpeg);
    background-size: cover;
    border-style: solid;
    border-color: red;
}

.placeholder-two {
    height: 300px;
    width: 800px;
    background-image:url(./pexels-eberhard-grossgasteiger-6439051.jpeg);
    background-size: cover;
    border-style: solid;
    border-color: red;
}

.second-project-row {
    height: 300px;
    width: 1700px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 15px;
    border-style: solid;
    border-color: blue;
}

.placeholder-three {
    height: 300px;
    width: 800px;
    background-image:url(./pexels-pixabay-158385.jpeg);
    background-size:cover;
    border-style: solid;
    border-color: blue;
}

.placeholder-four {
    height: 300px;
    width: 800px;
    background-image: url(./pexels-sindre-strøm-1144176.jpeg);
    background-size: cover;
    border-color: blue;
}

/* end styles for portfolio section */

/* start styles for footer section */

.footer {
    background-color: rgba(255, 255, 255, .75);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer a {
    color: #000;
}

.footer h3 {
    margin: 0;
    font-size: 60px;
    text-decoration: underline;
    flex-wrap: wrap;
    
}

.footer-links nav ul li  {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}

.footer-links li {
    list-style: none;
    display: inline;
}


.footer-links nav ul li a {
    padding: 10px 15px;
}