/* style for entire sheet*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*style for the body*/

body {
    background-color: bisque;
}

/*style for the header/navigation section*/
header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    color: black;
    font-weight: bold;
    margin: 0;
    display: inline;
}

header nav {
}


header nav ul li {
    display: inline;
}


header nav ul li a {
    float: right;
    margin: 0 45px;
}

/*end style for the header/navigation section */