/* style for entire sheet*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*style for the body*/

body {
    background-color: rgba(108, 111, 125, .4);
    padding: 30 px 60px;
}

/*style for the header/navigation section*/
header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #6c6f7d;
    border-radius: 25px;
}

header a {
    text-decoration: none;
    color: #dcb069;
    text-decoration: underline;
}

header h1 {
    color: #dcb069;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    display: inline;
    text-decoration: underline;
}


header nav ul li {
    display: inline;
}


header nav ul li a {
    float: right;
    margin: 0 45px;
    margin-right: 0px;
    font-size: 20px
}

/*end style for the header/navigation section */

/* styles for the hero/about me section*/


.hero {
    display: flex;
    height: 600px;
    max-width: 100%;
    margin: 12px auto;
    overflow: hidden;
}

.hero div {
    background-color: #6c6f7d;;
    border-radius: 25px;
}

.hero h2 {
    text-align:center;
    flex-wrap: wrap;
    color: #dcb069;
    text-decoration: underline;
}

.profile-img {
    height: 600px;
    width: 600px;
    background-image: url(./Jill-DF.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    border-style: hidden;
    border: 2px;
    margin: 10px;
    flex-wrap: wrap;
}

#profile-about {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    text-align:center;
    margin: 10px;
    font-size: 20px
}

.profile-about h2 {
    font-size: 25px;
    text-decoration:underline;

   
}

/* start styling for portfolio section */



#portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-title {
    color: #6c6f7d;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

.run-buddy {
    height: 500px;
    width: 100%;
    background-image: url(./run-buddy.jpeg);
    background-size: cover;
    border-radius: 25px;
    margin: 15px;
}

.project-info {
    color: #fff;
    background-color: #ccc9e7; 
    width: 240px;
    margin-top: 200px;
    text-align: center;
}


.project-row {
    height: 300px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 15px;
}

.placeholder-one {
    height: 300px;
    width: 48%;
    background-image:url(./pexels-andy-vu-3484061.jpeg);
    background-size: cover;
    border-radius: 25px;
}

.placeholder-two {
    height: 300px;
    width: 48%;
    background-image:url(./pexels-eberhard-grossgasteiger-6439051.jpeg);
    background-size: cover;
    border-radius: 25px;
}

.second-project-row {
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 15px;
}

.placeholder-three {
    height: 300px;
    width: 48%;
    background-image:url(./pexels-pixabay-158385.jpeg);
    background-size:cover;
    border-radius: 25px;
}

.placeholder-four {
    height: 300px;
    width: 48%;
    background-image: url(./pexels-sindre-strøm-1144176.jpeg);
    background-size: cover;
    border-radius: 25px;
}